
/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Helvetica;
	color: #FFFFFF;
	font-weight: bold;
}

body {
	background-color: #c61e24;
}

p {
	padding: 10px;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#block1 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
#block2 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}#block3 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
section {
	border:	2px solid black;
	background-color: #ead3a8;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 35%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding: 5px;
	background-color: #6EC5E9;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 35%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding: 5px;
	background-color: #00ff00;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 35%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	background-color: #FFFF00;
	color: black;
	padding: 5px;
}


.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #000000;
}

#header-nav {
  border: 0 solid black;
  background-color: #F6b319;
  color: #000000;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #000000;
}

.nav-brand {
  color: #000000;
  font-size: 1.5em;
}

#nav-list {
  color: black;
}

hr {
  border-color: black;
}

.item {
  color: black;
  font-size: 1.2em;
}